* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0965f0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 20rem;
  height: auto;
  border: groove 5px gold;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.card > img {
  width: 90%;
  margin: 1rem;
  border-radius: 5px;
}

.card > h2 {
  font-size: 2.2rem;
  color: #ea8007;
  text-shadow: -5px -5px 0 #74747d;
}

.card > p {
  text-align: center;
  padding: 1rem;
}